div.css-104teim.e1fqkh3o2{
    background-color: teal;
}
div.css-1lcbmhc.e1fqkh3o3{
    background-color: darkred;
}
/*div.css-12oz5g7.egzxvld2{*/
/*    background-color: darkred;*/
/* }*/
div.css-zeu3k4.etr89bj0{
    background-color: darkred;
}